{{
left_sidebar_enabled=True
response.files.append(URL('static','js/jquery.highlight.js'))
response.files.append(URL('static','js/jquery.scrollTo-min.js'))
response.files.append(URL('static','js/jquery.toc-0.1.js'))
response.files.append(URL('static','js/jquery.qtip-1.0.0-rc3.min.js'))
response.subtitle = SPAN(info['subtitle']," "+info['written_by']+" "+(info['authors'] and info['authors'] or 'unknown')+" "+info['in']+" "+ info['language'])
}}
{{extend 'layout.html'}}

{{block header}}
{{printed_book_link = info['url_print'] if info['url_print'] and IS_URL()(info['url_print'])[1] is None else "http://www.lulu.com/shop/massimo-di-pierro/web2py-5th-edition/paperback/product-20731496.html"}}
<a class="btn btn btn-danger" href="{{=printed_book_link}}">buy printed</a>
{{pass}}
{{if info['url_pdf'] and IS_URL()(info['url_pdf'])[1] is None:}}
<a class="btn" href="{{=info['url_pdf']}}">pdf</a>
{{pass}}
{{end}}

{{block statusbar}}
{{end}}

{{block left_sidebar}}
<h4>Search</h4>
<form class="form-search" action="{{=URL('search',args=book_id)}}">
    <div class="input-append">
        <input id="search-field" type="text" name="search" class="span2 search-query" value="{{=request.vars.search or ''}}"/><button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
</form>

<h4>Table of Contents</h4>
<ul id="toc-list">
{{for key,item,slug in chapters:}}
{{=LI(A("%s %s" % (key,item),_href=URL(f="chapter", args=(book_id,key,slug))))}}
{{pass}}
</ul>
{{end}}

{{if request.function=='chapter':}}
<h4><a id="chapter-toc-toggle" href="#">{{=info['chapter']}} {{=chapter_id}}: {{=chapter_title}}</a></h4>
{{pass}}

{{block page_javascript}}
<script>
jQuery(document).ready(function(){
  jQuery('#search-field').on( "keyup", function() {
    jQuery('.article').unhighlight(); 
    var v = jQuery(this).val();
    if (v!='') jQuery('.article').highlight(v);
  });
  jQuery('#chapter-toc-toggle').on( "click", function(e) {
    e.preventDefault();
    jQuery('ul.jquery-toc-1').slideToggle();
  });
  // scroll to the target
  var scrollToOffset = (jQuery('.navbar-fixed-top').css('position') == 'fixed') ? -43 : -3
  //var bodyPaddingTop = jQuery('body').innerHeight() - jQuery('body').height();
  //var scrollToOffset = (bodyPaddingTop > 0) ? -43  : -3
  {{if request.function=='chapter':}}
  var chapterTOC = jQuery.toc('.article h1, .article h2, .article h3, .article h4');
  chapterTOC.prependTo('.article');
  jQuery('.article ul[class^="jquery-toc-"] a').on('click', function() {
    jQuery(document).scrollTo('a[name=' + this.hash.replace('#', '') + ']', 500, {axis:'y', offset: scrollToOffset});
  });
  if (!chapterTOC.find('a').length) {
    jQuery('#chapter-toc-toggle').hide();
  };
  {{pass}}
  if (location.hash) setTimeout(function(){
    jQuery(document).scrollTo('a[name=' + location.hash.replace('#', '') + ']', 2000, {axis:'y', offset: scrollToOffset});
  }, 300);
  {{if request.vars.search:}}
    jQuery('.article').highlight('{{=request.vars.search}}');
    jQuery(document).scrollTo('.highlight', 2000, {axis:'y', offset: scrollToOffset});
  {{pass}}
  // scroll to top
  var offset = 440;
  var duration = 300;
  jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > offset) {
            jQuery('#gototop_btn').fadeIn(duration);
        } else {
            jQuery('#gototop_btn').fadeOut(duration);
        }
  });
  jQuery("#gototop_btn").on('click', function(e) {
    jQuery(document).scrollTo(0, 500);
  });
  jQuery('.article h1,.article h2,.article h3,.article h4,.article h5').each(function(){
    var t = jQuery(this);
    var key = t.text().replace(/[^\w- ]+/ig,'').replace(/ /ig,'-');
    t.attr('id', key);
    t.append('<a class="headerlink" href="#' + key + '">¶</a>');
    t.wrap('<div class="hover-show-headerlink"></div>');
  });
});
</script>
{{end}}

<div class="article">
  {{=content}}
</div>

<a id="gototop_btn" href="#header"><i class="icon-arrow-up"></i><em>&nbsp;top</em></a>
