.highlight {background-color: yellow}
h1, h2, h3, h4, h5, h6 {font-family: sans-serif;}
pre, code {border: 0 none;}
.article {font-family: "Georgia", serif;}
.article h1 { font-size: 32px; padding-top: 1em}
.article h2 { font-size: 28px; padding-top: 1em}
.article h3 { font-size: 24px; padding-top: 1em}
.article h4 { font-size: 20px; padding-top: 1em}
.article h5 { font-size: 16px; padding-top: 1em}
.article h6 { font-size: 12px; padding-top: 1em}
.article img {padding:15px 0;}
.article p, .article li {text-align: justify;margin-bottom:0.5em;}
.article ul li {list-style:circle outside;}
.article ul {margin-left: 2em;}
.inxx {background-color: #999999; color: white; position: absolute; right: -100px; white-space: nowrap; font-size: 0.8em; padding: 5px; border-radius: 5px; display: none;}
.inxx {display:none;}
.article h1 code, .article h2 code, .article h3 code, .article h4 code, .article h5 code, .article h6 code {
   display: in-line block;
   color : inherit;
   border: 0px;
   font-size: inherit;
   background: transparent;
}
.main {padding:0;}
input#search-field {margin-right:0;}
.ie7 .form-search button {padding-top:5px;padding-bottom:6px;}
.ie7 code.code {white-space:pre;color:#333;}
#gototop_btn {width:36px;height:36px;position:fixed;bottom:8em;right:-30px;text-decoration:none;color:#000000;background-color:rgba(153, 153, 153, 0.80);font-size:12px;padding:8px;display:none;z-index:9999;border-radius:36px;line-height:36px;}
.ie-lte8 #gototop_btn {background-color:#888;white-space:nowrap;}
#gototop_btn:hover {background-color:rgba(53, 53, 53, 0.50);}
.w2p-footer {margin-top:1em;border-top:1px solid #eee;}
.w2p-footer-content {padding:2em 0;font-size:12px;}
#poweredBy {text-align: right;}
@media (max-width: 979px) {
    #header {margin-top:0;}
}
@media (max-width: 767px) {
    #poweredBy, .copyright {text-align: center;}
}
/* IE10 scrollbar overlay issue */
@-ms-viewport{width:auto !important;}
