blockquote { background-color: #FFFAAE; padding: 7px; }
table { border-collapse: collapse; }
thead td { font-weight: bold; border-bottom: 1px solid; }
tfoot td { border-top: 1px solid; }
td.num { text-align: right; }
pre { background-color: #E0E0E0; }
